<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Le Livre Vert</title>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<!-- Ionicons -->
		<link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
		<!-- Theme style -->
		<link href="{{asset('css/AdminLTE.css')}}" rel="stylesheet" type="text/css" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{asset('js/jquery-1.10.1.js')}}"></script>
        <style type="text/css">
            div.tooltip {
                width:130px;
            }
        </style>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="skin-green">
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({
                    placement : 'right'
                });
            });
            $(document).ready(function(){
                $('[data-toggle="tooltip-bot"]').tooltip({
                    placement : 'bottom'
                });
            });
        </script>
		<!-- header logo: style can be found in header.less -->
		<header class="header">
			<a href=" {{ url('index') }} " class="logo">
				<!-- Add the class icon to your logo image or logo icon to add the margining -->
				Le Livre Vert
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-user"></i>
								<span> {{app.user.username|default('not defined')}} <i class="caret"></i></span>
							</a>
							<ul class="dropdown-menu">
								<!-- Menu Footer-->
								<li class="user-footer">
									<!-- <div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Profil</a>
									</div> -->
									<div class="pull-right">

										<a href="{{ url('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="wrapper row-offcanvas row-offcanvas-left">
			<!-- Left side column. contains the logo and sidebar -->
			<aside class="left-side sidebar-offcanvas">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<!-- search form
					<form action="#" method="get" class="sidebar-form">
						<div class="input-group">
							<input type="text" name="q" class="form-control" placeholder="Recherche..." />
							<span class="input-group-btn">
								<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
					 /.search form -->
					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu">

						<li class="treeview active">
							<a href="#">
								<i class="fa fa-book"></i> <span>Livres</span>
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<li><a href=" {{url('index')}} "><i class="fa fa-angle-double-right"></i>Gérer les livres</a></li>
								<li><a href=" {{url('add')}} "><i class="fa fa-angle-double-right"></i>Ajouter un livre</a></li>
								<li><a href=" {{url('upload_csv')}}"><i class="fa fa-angle-double-right"></i>Ajouter plusieurs livres (CSV)</a></li>
							</ul>
						</li>
						<li>
							<a href=" {{url('category_show')}}">
								<i class="fa fa-folder-open"></i> <span>Catégories</span>
							</a>
							<!-- <ul class="treeview-menu">
								<li><a href=" url('category') "><i class="fa fa-angle-double-right"></i>Gérer les catégories</a></li>
							</ul> -->
						</li>

						<li>
							<a href=" {{ url('user_show') }} ">
								<i class="fa fa-group"></i> <span>Utilisateurs</span>
							</a>
							<!-- <ul class="treeview-menu">
								<li><a href=" url('user')"><i class="fa fa-angle-double-right"></i>Gérer les utilisateurs</a></li>
							</ul> -->
						</li>
                        <li class="treeview">
							<a href="#">
								<i class="fa fa-legal"></i> <span>Configuration</span>
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
                                <li><a href=" url('config/general') "><i class="fa fa-angle-double-right"></i>Générale</a></li>
								<li><a href=" url('config/pricing') "><i class="fa fa-angle-double-right"></i>Pricing</a></li>
							</ul>
						</li>
					</ul>
				</section>
				<!-- /.sidebar -->
			</aside>

			{% block body %}{% endblock %}





							</div>
						</div>
					</div>
				</section>
			</aside>
		</div>

		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- AdminLTE App -->
		<script src="{{asset('js/AdminLTE/app.js')}}" type="text/javascript"></script>
		<!-- AdminLTE for demo purposes -->

		</body>
</html>
