{% extends "LelivrevertBundle::layout.html.twig" %}
{% block body %}

	<!--Main!!!!Important!!!!!!!!!!!!!!!!!!!!!!! Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Administration</h1>
		<ol class="breadcrumb">
			<li><a href="{{ url('index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
			<!-- <li class="active">Blank page</li> -->
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{ title }}</h3>
					</div>
					<div class="box-body">


						{{ form_start(form, {'method':'POST'}) }}
						{{form_errors(form)}}
						{{ form_row(form._token) }}
						<div class="row margin">

							<div class="col-sm-8">

								<div class="form-group input-group input-group-sm">
									{{form_widget(form.EAN, {'attr':{'class':'form-control', 'placeholder':'Insérez code livre','autocomplete':'off', 'style': 'background-color: rgb(255, 160, 160);'}})}}

									<span class="input-group-btn">
										<button class="btn btn-info btn-flat"  id="btn1" type="button">Générer</button>
									</span>

								</div>

								<div class="form-group input-group input-group-sm">
									<span class="input-group-btn" id="suggestion-box"><button class="btn btn-info btn-flat" disabled="" type="button">Aucunes suggestions</button></span>
								</div>

								<div class="row">
									<div class="col-sm-6">

										{#{{ form_row(form.title) }}#}

										<div class="form-group">
											{{form_label(form.title)}}

											{{form_errors(form.title)}}

											{{form_widget(form.title, {'attr':{'class':'form-control'}})}}

										</div>


										<div class="form-group">
											{{form_label(form.subtitle)}}

											{{form_errors(form.subtitle)}}

											{{form_widget(form.subtitle, {'attr':{'class':'form-control'}})}}

										</div>


										<div class="form-group">
											{{form_label(form.author)}}

											{{form_errors(form.author)}}

											{{form_widget(form.author, {'attr':{'class':'form-control'}})}}

										</div>

										<div class="form-group">
											{{form_label(form.editor)}}

											{{form_errors(form.editor)}}

											{{form_widget(form.editor, {'attr':{'class':'form-control'}})}}

										</div>


									</div>

									<div class="col-sm-6">

										<div class="form-group">
											{{form_label(form.language)}}

											{{form_errors(form.language)}}

											{{form_widget(form.language, {'attr':{'class':'form-control'}})}}

										</div>

										<div class="form-group">
											{{form_label(form.pages_nb)}}

											{{form_errors(form.pages_nb)}}

											{{form_widget(form.pages_nb, {'attr':{'class':'form-control'}})}}

										</div>

										<div class="form-group">
											{{form_label(form.category)}}

											{{form_errors(form.category)}}

											{{form_widget(form.category, {'attr':{'class':'form-control'}})}}

										</div>

									</div>


								</div>

							</div>

							<div class="col-sm-4">
								<div class="form-group">
									<!-- <label for="cover">Couverture</label> -->
									<input type="hidden" class="form-control" id="cover" name="cover" value="">
									<img id="cover-preview" style="height: 197px;" src="http://vps213503.ovh.net/assets/img/default-book-cover.jpg" alt="Couverture">
								</div>
							</div>


							<div class="col-sm-12">
								<div class="form-group">

									{{form_label(form.description)}}

									{{form_errors(form.description)}}

									{{form_widget(form.description, {'attr':{'class':'form-control', 'rows':'6'}})}}


								</div>

								{{form_widget(form.cover)}}


								{{form_row(form.save, {'attr':{'class':'btn btn-primary'}})}}

							</div>


</div>

						{{ form_end(form, {'render_rest':false}) }}

						<script type="text/javascript">

							$( document ).ready(function() {

								$('#btn1').click(function(){

									var url='{{url('ean_json',{'ean': 'text'})}}';
									url=url.replace('text',$('#book_EAN').val());

									$.get(url, function(data){
										if(data.title){
											$('#book_title').val(data.title);
										}

										if(data.subtitle){
											$('#book_subtitle').val(data.subtitle);
										}

										if(data.authors){
											$('#book_author').val(data.authors);
										}

										if(data.editor){
											$('#book_editor').val(data.editor);
										}

										if(data.language){
											$('#book_language').val(data.language);
										}

										if(data.pagesNb){
											$('#book_pages_nb').val(data.pagesNb);

										}

										if(data.categories){
											$('#book_category').val(data.categories);

										}

										if(data.description){
											$('#book_description').val(data.description);
										}

										if(data.image){
											$('#cover-preview').attr('src', data.image);
											$('#book_cover').val(data.image);
										}
									});
								});
							});
						</script>

					</div><!-- /.box-body -->

					{% endblock %}
