{% extends "LelivrevertBundle::layout.html.twig" %}
{% block body %}


<!--Main!!!!Important!!!!!!!!!!!!!!!!!!!!!!! Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administration</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li class="active">Blank page</li> -->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row margin">

                            <div class="col-sm-8">
                                <dl class="dl-horizontal">

                                    <dt>Titre</dt>
                                    <dd>{{ book.title|default(null) }}</dd>
                                    <dt>Sous-titre</dt>
                                    <dd>{{ book.subtitle |default(null)}}</dd>
                                    <dt>EAN</dt>
                                    <dd>{{ book.EAN|default(null) }}</dd>
                                    <dt>Catégorie</dd>
                                    <dd></dd>
                                    <dt>Auteur</dt>
                                    <dd>{{ book.author|default(null) }}</dd>
                                    <dt>Editeur</dt>
                                    <dd>{{ book.editor|default(null) }}</dd>
                                    <dt>Langue</dt>
                                    <dd>{{ book.language|default(null) }}</dd>
                                    <dt>Taille</dt>
                                    <dd>
                                        {% if  book.pagesNb %}
                                            {{ book.pagesNb }} ages
                                        {% else %}
                                            No Data
                                        {% endif %}

                                    </dd>
                                    <dt>Description</dt>
                                    <dd>{{ book.description|default(null) }}</dd>

                                </dl>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    {% if  book.cover %}
                                        <img id="cover-preview" style="height: 197px;" src="{{ book.cover }}" alt="Couverture">
                                    {% else %}
                                        <img id="cover-preview" style="height: 197px;" src="http://vps213503.ovh.net/assets/img/default-book-cover.jpg" alt="Couverture">
                                    {% endif %}

                                </div>
                            </div>

                        </div>



                    </div><!-- /.box-body -->

                    <div class="box-footer">
                            <p><a href="{{url('index')}}"><button class="btn btn-default">Retourner à la liste des livres</button></a></p>

                            {% endblock %}
