{% extends "::base.html.twig" %}

{% block title %}LelivrevertBundle:Book:ean_csv_upload{% endblock %}

{% block body %}
<h1>Welcome to the Book:ean_csv_upload</h1>



    {% for e in arr_titles %}
        {{ e }} </br>
    {% endfor %}



{% endblock %}
