{% extends "LelivrevertBundle::layout.html.twig" %}
{% block body %}


<!--Main!!!!Important!!!!!!!!!!!!!!!!!!!!!!! Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administration</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li class="active">Blank page</li> -->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>
                    </div>
                    <div class="box-body">
                        {{ form_start(form, {'method':'POST'}) }}
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}


                        <div class="row margin">
                                <div class="col-sm-6">
                                    <div class="form-group input-group input-group-sm">
                                        {{ form_errors(form.ean) }}
                                        {{ form_widget(form.ean, {'attr': {'class':'form-control'}}) }}
                                        <span class="input-group-btn">
                                            <button id='btn1' class="btn btn-info btn-flat" type="button">Mettre à jour</button>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.title) }}
                                        {{ form_errors(form.title) }}
                                        {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.subtitle) }}
                                        {{ form_errors(form.subtitle) }}
                                        {{ form_widget(form.subtitle, {'attr': {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.author) }}
                                        {{ form_errors(form.author) }}
                                        {{ form_widget(form.author, {'attr': {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.editor) }}
                                        {{ form_errors(form.editor) }}
                                        {{ form_widget(form.editor, {'attr': {'class':'form-control'}}) }}

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.language) }}
                                        {{ form_errors(form.language) }}
                                        {{ form_widget(form.language, {'attr': {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.pages_nb) }}
                                        {{ form_errors(form.pages_nb) }}
                                        {{ form_widget(form.pages_nb, {'attr': {'class':'form-control'}}) }}
                                    </div>


                                </div>



                            </div>
                            <div class="row margin">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form_label(form.description) }}
                                        {{ form_errors(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class':'form-control', 'row':'6'}}) }}
                                    </div>
                                </div>

                                {{ form_widget(form.save, {'attr': {'class':'btn btn-primary'}}) }}

                            </div>
                        {{ form_end(form) }}

                        <script type="text/javascript">

                            $( document ).ready(function() {

                                $('#btn1').click(function(){

                                    var request = 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + $('#form_ean').val();

                                    $.get(request, function(response){


                                        $('#form_title').val(response.items[0].volumeInfo.title);
                                        $('#form_subtitle').val(response.items[0].volumeInfo.subtitle);
                                        //$('#form_author').val(response.items[0].volumeInfo.authors[0]);
                                        var authors=response.items[0].volumeInfo.authors;
                                        var $authors=$(authors);
                                        $authors.each(function(){
                                            $('#form_author').val(this);
                                        })
                                        $('#form_language').val(response.items[0].volumeInfo.language);
                                        $('#form_pages_nb').val(response.items[0].volumeInfo.pageCount);
                                        $('#form_editor').val(response.items[0].volumeInfo.publisher);
                                        $('#form_description').val(response.items[0].volumeInfo.description);
                                       // $('#book_category').val(response.items[0].volumeInfo.categories[0]);

                                    });


                                });


                            });


                        </script>

                    </div><!-- /.box-body -->

                    <div class="box-footer">


                        {% endblock %}
