{% extends "LelivrevertBundle::layout.html.twig" %}
{% block body %}


<!--Main!!!!Important!!!!!!!!!!!!!!!!!!!!!!! Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administration</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li class="active">Blank page</li> -->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row margin">
                            <h4>Rechercher par...</h4>
                            <form>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select class="form-control" id="type" name="type">
                                            <option value="ean">EAN</option>
                                            <option value="titre">Titre</option>
                                            <option value="soustitre">Sous-titre</option>
                                            <option value="auteur">Auteur</option>
                                            <option value="editeur">Éditeur</option>
                                            <option value="description">Description</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" name="search" placeholder="Contenu de la recherche">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <button type="button" id="btnR" class="btn btn-primary">Rechercher !</button>
                                    </div>
                                </div>

                            </form>

                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>EAN</th>
                                    <th>Auteur</th>
                                    <th>Éditeur</th>
                                    <th style="width:230px;">Gestion</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for book in books %}
                                    <tr>
                                        <td>{{book.title}}</td>
                                        <td>{{book.eAN}}</td>
                                        <td>{{book.author}}</td>
                                        <td>{{book.editor}}</td>
                                        <td>
                                            <a href="{{url('display',{'id': book.id})}}"><button class="btn btn-primary btn-sm">Afficher</button></a>
                                            <a href="{{url('form_edit', {'id': book.id})}}"><button class="btn btn-primary btn-sm">Modifier</button></a>
                                            <a href="{{url('delete', {'id': book.id})}}"><button class="btn btn-danger btn-sm">Supprimer</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Titre</th>
                                    <th>EAN</th>
                                    <th>Auteur</th>
                                    <th>Éditeur</th>
                                    <th>Gestion</th>
                                </tr>
                                </tfoot>
                            </table>


                            <script type="text/javascript">

                                $( document ).ready(function() {

                                    $('#btnR').click(function(){

                                        var request='{{ url('query', {'par':'param1', 'contenu':'param2'}) }}';
                                        request=request.replace('param1', $("select option:selected").val());
                                        request=request.replace('param2', $('#search').val());

                                        $.get(request, function(response){

                                            var url_display='{{url('display',{'id': 'text'})}}';
                                            url_display=url_display.replace('text',response.id);

                                            var url_edit='{{url('form_edit',{'id': 'text'})}}';
                                            url_edit=url_edit.replace('text',response.id);

                                            var url_delete='{{url('delete',{'id': 'text'})}}';
                                            url_delete=url_delete.replace('text',response.id);


                                            $('table tbody').replaceWith('<tbody><tr><td>'+response.title+'</td><td>'+
                                                    response.ean+'</td><td>'+response.authors+'</td><td>'+response.editor+
                                                    '</td><td><a href="'+url_display+'"><button class="btn btn-primary btn-sm">Afficher</button></a><a href="'+url_edit+'"><button class="btn btn-primary btn-sm">Modifier</button></a><a href="'+url_delete+'"><button class="btn btn-danger btn-sm">Supprimer</button></a></td></tr></tbody>')

                                        });
                                    });
                                });


                            </script>

                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <p><a href="{{url('add')}}"><button class="btn btn-default">Ajouter un livre</button></a></p>

                            {% endblock %}
