{% extends "::base.html.twig" %}

{% block title %}LelivrevertBundle:Book:display{% endblock %}

{% block body %}
title {{book.0.volumeInfo.title}} </br>

{% for author in book.0.volumeInfo.authors%}
Author {{author}}</br>
{% endfor%}
language {{book.0.volumeInfo.language}} </br>

{% endblock %}
