{% extends "LelivrevertBundle::layout.html.twig" %}
{% block body %}


<!--Main!!!!Important!!!!!!!!!!!!!!!!!!!!!!! Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administration</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li class="active">Blank page</li> -->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Adresse e-mail</th>
                                <th>Gestion</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                                <tr><td> {{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td><a href="{{ url('user_edit', {'id':user.id}) }}"><button class="btn btn-primary btn-sm">Modifier</button></a></td>
                                </tr>
                            {% endfor %}

                            </tbody>

                            <tfoot>
                            <tr>
                                <th>Nom</th>
                                <th>Adresse e-mail</th>
                                <th>Gestion</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <p><a href="{{ url('user_add') }}"><button class="btn btn-default">Ajouter un utilisateur</button></a></p>
                    </div>


                    {% endblock %}

