{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



<form action="{{ path("fos_user_security_check") }}" method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="body bg-gray">
        <div class="form-group">
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="Nom de l'utilisateur" required="required" />
        </div>

        <div class="form-group">
            <input type="password" id="password" class="form-control" name="_password" placeholder="Mot de passe" required="required" />
        </div>

    </div>

    <div class="footer">
        <input type="submit" class="btn bg-olive btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

    </div>



</form>
{% endblock fos_user_content %}


