{% extends '::base.html.twig' %}

{% block content %}
    <div class="form-box" id="login-box">

    <div class="header">Se connecter</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}



    {% block fos_user_content %}
    {% endblock fos_user_content %}

    </div>

{% endblock %}