{% extends "LelivrevertBundle::layout.html.twig" %}
{% block body %}


<!--Main!!!!Important!!!!!!!!!!!!!!!!!!!!!!! Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administration</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li class="active">Blank page</li> -->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>
                    </div>
                    <div class="box-body">
                        {{ form_start(form, {'method':'POST'}) }}
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}

                                <div class="form-group">
                                    {{ form_label(form.name) }}
                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
                                </div>

                        <div class="box-footer">
                            {{ form_widget(form.save, {'attr': {'class':'btn btn-primary'}}) }}
                        </div>
                        {{ form_end(form) }}

                    </div><!-- /.box-body -->


                        {% endblock %}
